

.seasonal-products-list {
  color: #011101;
  margin: 10px;
  .seasonal-fruits-list, .seasonal-vegetables-list, .seasonal-seafood-list { list-style: none; }
  .product-list-header {
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 3px;
  }


  li {
    padding: 20px 10px;
    border-bottom: 1px #ddd solid;
    color: rgba(87, 50, 35, 0.82);
    letter-spacing: 3px; text-transform: uppercase;
    .product-name {font-size: 15px;}
    .sprout-icon {float: right; margin-left: 5px; padding-top: 10px;}
    &:last-child {
      border-bottom: none;
    }
  }
}
.product-footnote { color: black; margin-left: 30px; font-size: 14px }
.no-bullets {
  list-style-type: none;
}

.margin-sides-p5 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.margin-bottom-p5 {
  margin-bottom: 0.5rem;
}

.sprout-icon{
  background-image: url("../assets/sprout_icon.png");
  height: 13px; width: 15px; background-repeat: no-repeat;
  display: inline-block;
}
.nav-bar{
  height: 70px;
  background: white;
  box-shadow: 0 0.5px 4px rgba(#017400, 0.8);
  .logo-small {
    background-image: url("../assets/icon_small.png");
    background-repeat: no-repeat;
    width: 101px;
    height: 24px;
    display: inline-block;
    margin: 20px 0 0 10px;

  }
  .actions {
    float: right;
    margin-top: 17px; margin-right: 10px;
    .button{
      margin-bottom: 0px;
      padding: 11px 24px;
      font-size: 12px;
    }
  }

}
