.product-details {
  margin-top: 20px;
  padding: 0 20px;
  .name {
    h1 {
      font-size: 28px; color: #011101; font-weight: bold;
      display: inline-block;
      text-transform: uppercase;
    }
    .button {
      display: inline-block;
      margin-bottom: 20px;
      background-color: #017400;
    }
    border-bottom: 1px #011101 solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .header {
    border-bottom: 1px #011101 solid;
    margin: 20px;
    h2 {
      font-size: 20px; text-align: center;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  table {
    width: 100%;
  }

  #production-chart, #in-season-chart {
    margin: 0 auto;
    display: block;
  }

}
