.seasonal-products {

  .seasonal-products-list{
    margin-left: 0px;
    padding-left: 0px;
  }

  .seasonal-product-item{
    padding: 20px;
    background: rgba(44, 62, 80, 0.1);
    list-style: none;
    border-bottom: 1px solid rgba(white, 0.3);
    margin-left: 0px;

    font-size: 14px; color: white;
  }
}