<div class="nav-bar">
  <div class="logo-small"></div>
  <div class="actions">
    <div class="back button ">Back</div>
  </div>
</div>
<div class="content-area">
  <p>
    The InSeason app allows you to quickly view <strong> currently in season seafood, fruits and vegetables</strong>, encouraging fresh, healthly eating and enabling you to buy grocery items at their lowest retail value!
  </p>

  <p>On the main page, items are sorted by category. Beside each item a tree icon may appear indicating that a substantial amount of Canada's supply is <strong>caught or grown locally.</strong> Three 'trees' is the maximun local rating an item may receive.</p>

  <p>You can click on any item listed to view details such as <strong>nutritional data</strong>, information on when the item is in season, and the percentage each province contributes to total national output.</p>

  <p>Inside the item details, click on the <strong>recipe button for some meal inspiration.</strong>. Click on any of the delicious recipe photos listed for more details (i.e cooking insutructions, ingredients). Happy Shopping!</p>

</div>

<small>Recipies Powered By Food2Fork API</small>

