<div class="nav-bar">
  <div class="logo-small"></div>
  <div class="actions">
    <div class="back button ">Back</div>
  </div>
</div>
<div class="content-area">
  <p>
    The InSeason app quickly allows you to see all <strong>products that are in season for the current month</strong>, enabling you to eat healthly and buy grocery items when they are at their lowest retial value.
  </p>

  <p>On the main page items are sorted into one of three catagories: Fish, Fruits, or Vegtables. Beside each item an tree icon may appear indicating that a substantial amount of the Canadas supply for this <strong>item is grown locally.</strong> Three 'trees' is the maximun local rating an item can have</p>

  <p>You can click on any item listed to view details such as <strong>nutritional information</strong>, info on when the item is in season, and the precentage each province contributes to national supplies.</p>

  <p>Once viewing an items details you can also click on the recipe button. This will <strong>search for recipes that use the ingredient selected</strong>. You can then click on any of the recipes listed for more details (i.e cooking insutrucitons, ingredients). Happy Shopping!</p>


</div>

<small>Recipies Powered By Food2Fork API</small>

