<div class="name">
  <h1><%= name %></h1>
  <div class="button right">Recipies</div>
</div>


<span data-tooltip aria-haspopup="true" class="percentage-tool-tip has-tip" title="Percentage grown in canada">Local Percentage: 20%</span>





<!-- <div class="details"><%= details %></div> -->
