<div id="background-img"></div>

 <div class="nav-bar">
   <div class="logo-small"></div>
   <div class="actions">
     <div class="back button ">Back</div>
   </div>
 </div>
 <div class="content-area">
  <div class="recipes-lists"></div>
 </div>


