<div id="background-img"></div>

 <div class="nav-bar">
   <div class="logo-small"></div>
   <div class="actions">
     <div class="help-guide button ">Help Guide</div>
   </div>
 </div>
 <div class="content-area">
  <div class="seasonal-products-list">
    <h3 class="product-list-header">Fish</h3>
    <ul class="seasonal-seafood-list"></ul>
    <h3 class="product-list-header">Vegetables</h3>
    <ul class="seasonal-vegetables-list"></ul>
    <h3 class="product-list-header">Fruits</h3>
    <ul class="seasonal-fruits-list"></ul>
  </div>
  <div class="product-footnote">
    <span class="sprout-icon"></span>Denotes locally grown rating
  </div>
 </div>

