<div class="seasonal-products-list">
  <h3>Fruits</h3>
  <ul class="seasonal-fruits-list"></ul>
  <h3>Vegetables</h3>
  <ul class="seasonal-vegetables-list"></ul>
  <h3>Fish</h3>
  <ul class="seasonal-seafood-list"></ul>
</div>